@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url("https://fonts.google.com/share?selection.family=Press%20Start%202P");


body{
background-color:rgb(41, 41, 41);
background-image: url("/img/black-mosaic-tiles.png");
}

header{
position: fixed;
height: 8em;
z-index: 100;
top: 0px;
right: 0px;
left: 0px;
display: inline-block;
justify-content: space-around;
align-items: center;
padding: 0px 0px;
background-color: #000000;
border: 0px solid ;
width: 100%;
}

a:visited, a:hover, a:active, a:focus ,a:link {
color: rgb(255, 255, 255) ;
text-decoration: none !important;
outline: none !important;

 }
 html, body {
margin: 0;
height: 100%;
}
nav.menu ul li{
position: relative;

top: 0px;
list-style: none;
background-color: black;
display: inline-block;
padding-top: 1em;
padding-bottom: 1px;
padding-left: 0em;
padding-right:0em;
height: 50px;

text-decoration: none !important;
outline: none !important;
font-size: 1.5em;
font-weight: bolder;
font-family: "Poppins", serif;
color: white;


}
html {
scroll-behavior: smooth;
}

nav.menu ul{
display: flex;
justify-content: center;
max-height: 8em;
height: 8em;
width: 80%;
padding: 0px;
margin: 0px;
justify-content: space-between;
align-items: flex-start;

}

nav.menu{

display: flex;
justify-content:center;
margin-top: 1em;
align-items: center;
}







/*Reset CSS*/

img{
height: 100%;
}






nav.menu ul li div.dropdown{
padding-top: 0em;
height: 3em;
}



nav.menu ul li div.dropdown{
    padding-top: 0em;
    height: 3em;
}


.boutonmenuprincipal {
    font-weight: bolder;
    font-family: "Poppins", serif;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    padding:0px;
    margin-top:0px;
    font-size: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.boutonmenuprincipal:hover {
    box-shadow: 0px 0px 100px rgb(154, 255, 233);
    background-color: rgb(39, 204, 176);
}
.dropdown {
    padding-top: 0em;
    padding-bottom: 1em;
    position: relative;
    display: inline-block;
}


.dropdown-child {
    padding-top: -0.5em;
    display: none;
    min-width: 50px;
    opacity: 1;
}



.dropdown-child a {

    padding-top: 1em;
    padding-left: 0.6em;
    padding-bottom: 1em;
    padding-right: 0.6em;
    text-decoration: none;
    display: block;
}
.dropdown-btn{
    opacity: 0.7;
    /*background-color: black;*/

}
.dropdown-btn:hover{
    opacity: 1;
    /*box-shadow: 0px 0px 100px rgb(154, 255, 233);
    color: rgb(255, 255, 255);
    background-color: rgb(39, 204, 176);*/
}


.dropdown:hover .dropdown-child {
    display: block;
}

li#drop{
    margin-top: 0em !important;
    padding-top: 0.5em;
}



.btn:hover{
    transform: scale(1.1);

}

.btn{
    border: none;
    font-family: "Poppins",serif;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    background-size: 200%;
    transition: 0.3s all;

}
/* background-image: linear-gradient(to left,#38e580,#009432,#C4E538);*/

.btn1{
    background-image: linear-gradient(to left,#000000,rgb(255, 255, 255),#000000);
  }
  
  .btn2{
    background-image: linear-gradient(to left,#000000,rgb(39, 204, 176),#000000);
  }
  
  .btn3{
    background-image: linear-gradient(to left,#12CBC4,#0652DD,#12CBC4);
  }
  
  .btn4{
    background-image: linear-gradient(to left,#FDA7DF,#9980FA,#FDA7DF);
  }
  
  .btn:hover{
    background-position: right;
  }
  


  


.menuu input{
    font-family: "Poppins", serif;
    margin: 0.2em 0.5em;
    display: inline;
    background-color: #000000;
    color: white;
}

.invisible {
display: none;
}
.menu-toggle {
cursor: pointer;
}
.menuu {
    
    position: relative;
    margin: 0em 45%;
    background-color: #12CBC4;
    height: 30px;
    width: 200px;
}

.bouton-fond{
    display:flex;
    overflow: hidden;
    background-color: #000000;
    border-style: solid;
    border-width: 0.1em;
    height: 18em;
    width: 13em;
    justify-content: center;
    transition: 0.15s all;
    transition-delay: 0.1s;
    

}

.bouton-fond:hover{
    margin-top:  -3em;
    /*border-style: hidden;*/
    height: 22em;
    width: 16em;
    
}

.bouton-fond img{
    transition: 1s all;
    opacity: 0.9;    
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
    -webkit-transform: translateZ(0) scale(1, 1);
}

.bouton-fond:hover img{
    opacity: 1;

}
button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    }

button.playbutton{
    z-index: 10;
    position: fixed;
    margin-top: 10em;
    width: 4em;
    height: 4em;
    transition: 0.5s all;
}
button.reloadbutton{
    z-index: 10;
    position: fixed;
    margin-top: 16em;
    margin-left: 0em;
    width: 3em;
    height: 3em;
    transition: 0.5s all;
}

button.playbutton:hover{
    width: 5em;
    height: 5em;
}
button.reloadbutton:hover{
    width: 4em;
    height: 4em;

}


audio#inv{
    background-color: lightblue;
    width: 0px;
}


div.content{
    /*
    	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;*/
    height: 100%;
    margin-left: 3em;
    color: white;
    margin-top: 8em;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
}


div.box{
    /*background-color: #FDA7DF;*/
    height: 25em;
}