@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

header{
    position: fixed;
    height: 120px;
    z-index: 100;
    top: 0px;
    right: 0px;
    left: 0px;
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0px;
    background-color: #99b0ee;
    border: 0px solid ;
    width: 100%;
}

h1{
    font-style: normal;
    color: blanchedalmond;
    font-size: 30px;

}
html {
    scroll-behavior: smooth;
  }
a{
    text-decoration-style: none;
}
a:visited, a:hover, a:active, a:focus ,a:link {
    color: white !important;
    text-decoration: none !important;
    outline: none !important;
    font-size: 80px;
    font-weight: bold;
    font-family: "Poppins";
 }
a#except{
    color: white !important;
    text-decoration: none !important;
    outline: none !important;
    font-size: 15px;
    font-weight: lighter;
    font-family: "Poppins";
}
footer{
    position: fixed;
    bottom: 0px;
    left: 20%;
}  

ul{
    color: blanchedalmond;
    text-decoration-style: none;
    margin-top:  0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0;
    list-style: none;
    height: 100%;
    height: 4000px;
}
li{
    height: 1080px;
}
li a{
}
/* anti scroll
html, body {margin: 0; height: 100%; overflow: hidden}*/ 

div.center{
    text-align: center;
    position: absolute;
    width: 1200px;
    margin-top: 500px;
    margin-left: 380px;
}
div#hist::before{
    height: 1080px;
    background-image: url(https://laytongentleman.github.io/site_nsi//img/pong-wallpaper.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
    content: "";
}
div#hist{
    height: 1080px;
    
    background-repeat: no-repeat;
    content: "";
    position: relative;
    margin-top: 500px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}


div#dev::before{
    height: 1080px;
    background-image: url(https://laytongentleman.github.io/site_nsi//img/1470135-game-developer-wallpaper-1920x1080-images.jpg);
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    content: "";
}
div#dev{
    content: "";
    height: 1080px;
    position: relative;
    margin-top: 500px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
div#bib::before{
    height: 1080px;
    background-image: url(https://laytongentleman.github.io/site_nsi//img/Hollow-Knight-Gameplay-Wallpaper-HD.jpg);
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    content: "";
}
div#bib{
    content: "";
    height: 1080px;
    position: relative;
    margin-top: 500px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}


.bg{
    opacity: 0.5;
}


body{
    background-color: black;
    background-image: none;
}
