
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


audio#invisible{
    background-color: lightblue;
    width: 0px;
}


.row#content{
    margin-top: 20px;
    width: 100%;
    padding: 0px 0px;
    margin: 0px 0px;
}


body.row > div{
    margin-top: 160px;
}

.col-lg-2#left{
    background-color: #d5dfef;
}
.col-lg-2#right{
    background-color: #d5dfef;
}

.carousel{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 450px;
    width: 800px;
    display: block;
    position: relative;
    left: 60%;
    box-shadow: 0 30px 100px rgba(0,0,0,0.3) ; 
    
}
.carousel-inner{
    height: inherit;
    margin: 0;
    background: rgb(255, 255, 255);

}


.carousel-item{

    max-height:100%;
    margin: 0;
    background: rgb(255, 255, 255);
}


.carousel-caption{
    display: block;
}
.carousel-caption p, h5 {
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .row{
        width:  100%;
        color: greenyellow;
    }
    .menu_nav li{
        display: inline;
    }
    .carousel{
        width: 100%;
        left: 2%;
    }
    .col-lg-2#left{
        display: none;
    }
    .btn#admin{
        display: none;
    }
    header{
        height: 800px;
    }
  }

.box{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 30px 60px rgba(0,0,0,.2) ;
}
.box .percent{
    max-width:100%;
    max-height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}
.box .percent svg{
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

.box .percent svg circle{
    margin-left: 5000px;
    padding-left: 100px;
    left: 50px;
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke: #000;
    transform: translate(75px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
.box .percent svg circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke:#f3f3f3;
}
.box .percent svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440*15) /100);
    stroke:#03a9f4;
}
.box .percent .value{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
}

.box .percent .value h2{
    font-size: 48px;
    text-align: center;
}
.box .percent .value h2 span{
    font-size: 24px;
}
.box .text {
    margin-top: 50px;
    padding: 10px 0 0;
    color: #999;
    font-weight: 700;
    letter-spacing: 1px;
}
html, body {
    margin: 0;
    padding: 0px;
    height: 100%;
    width: 100%;
}




li, a ,button {
    font-family: "Poppins", sans-serif ;
    font-size: 16;
    font-weight: 500;
    
}


header{
    position: fixed;
    height: 100px;
    z-index: 100;
    top: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10px;
    background-color: #dedede;
    border: 0px solid ;
}


audio{
    width: 400px;
    opacity: 0.5;
}

h1.headline{
    color: blanchedalmond;
    font-size: 70px;
    margin: 0px;
}

a{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/*
un fichier css est trÃ¨s important Ã  commenter 
car c'est vraiment en vrac sinon
*/

/* Brouillon */


body{
    overflow: auto;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}


.list {
    margin-top: 0px;
    display: block;
    height:500px;
    width: auto;
    background-color: lightblue;

}

td{
    text-align: center;
    padding: 4px 100px;
    margin: 0px;
    font-family: "Poppins", sans-serif ;
    font-size: 20px;
    font-weight: bolder;
    text-decoration-line: none;
    text-decoration-style: none;
    color: white;
}

td > a{
    text-decoration: none;
}


th{
    text-align: center;
    padding: 10px 100px;
    margin: 0px;
    font-family: "Poppins", sans-serif ;
    font-size: 30px;
    font-weight: bolder;
    color: white;
}

/*
li > nav  {
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 10px 200px;
    margin: 0px;
    font-family: "Poppins", sans-serif ;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: underline;
    color: white;
}


nav:not(.type) > li{
    color: rgb(255, 0, 43);
}*/

 /*background: url(https://i.redd.it/zyx1ckankka31.jpg) no-repeat fixed;*/
/*
body{
    padding-top: 0px;
    margin: 0px;
    background-color: white;
}
body:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   
    
background-size: 100%;
    opacity: 0.6;
    z-index: -1;
}
*/


/* CSS Fonctionnel */

/* Header*/


/* Banner*/
/*
.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
      
.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    
    background-image: url(/img/banner_pokemon.png);
    background-repeat: no-repeat;
}*/

.flex_container{
    height: 800px;

}


.sub_header {
    display: block;
    width: auto;
    height: 212px;
    border: 1px solid #23285a;
    padding: 0px;
}

.banner{
    position: relative;
    display: block;
    height: 210px;
    margin-right: auto;
    margin-left: auto;
}




/* Menu de nav 1*/
nav ul {
    margin: 10px;
}
nav.menu_nav ul li.btn{
    display: inline-block;
    list-style-type: none ;
}

nav.menu_nav ul li a{
    color: white;
    text-decoration: underline;
    margin: 0px 0px;
    padding: 10px;
    background-color: skyblue;
    border-radius: 15px;
}

nav.menu_nav ul li.btn:hover a{
    color: skyblue;
    background-color: white;
    transition: 0.5s all;
}

.list td:hover a{
    color: rgb(170, 135, 235);
    transition: 0.5s all;
}
/*
nav.menu_nav ul li#book {
    padding: 0px;
    background-image: url(/img/book_logo.jpg);
}*/

button{
    margin-left: 800px;
    border-style: none;
    padding: 9px 25px;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgba(73, 196, 230,0.8);
}

button:hover{

    background-color: rgba(73, 196, 230,1);
}

/* Slides*/


/*Sticky bar*/



/*Background*/



/* Footer */




div#content div{
    box-shadow: 0 30px 100px rgb(199, 239, 255) 
}


div#content div.article{

    background-color: rgb(171, 255, 122);
    width: 500px;
    margin: 0px;
}

div#content {
    width: 100%;
    background-color: rgb(255, 255, 255);
}




div#content div.leftbox{
    background-color: rgb(255, 249, 169);
    vertical-align: top;
}

div#content div h1,p, img{
    margin: 0px;
    justify-content: center;
}

div#content div.rightbox{
    background-color: darkseagreen;
}

/*
Musics CSS
*/

ul.music_list{
    background-color: rgb(255, 255, 255);
}

ul.playlist{    
    padding-left: 25px;
}

ul.playlist p {
    font-size: 16px;
    font-weight: bolder;
    color: inherit;
    opacity: 0.9;
    
}


ul.playlist#kuroko::before{ 
    content: "";
    background-image: url(/musics/preview/kuroko.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;

}

ul.playlist#kuroko{
    position:relative;
    content: "";
    color: rgb(255, 5, 5);
    height: inherit;
}

ul.playlist#kuroko::before{ 
    content: "";
    background-image: url(/musics/preview/kuroko.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;

}

ul.playlist#haikyuu::before{ 
    content: "";
    background-image: url(/musics/preview/haikyuu.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;

}

ul.playlist#haikyuu{
    position:relative;
    content: "";
    color: rgb(255, 175, 2);
    height: inherit
}


ul.playlist#mha{
    position:relative;
    content: "";
    color: rgb(0, 185, 83);
    height: inherit
}
ul.playlist#mha::before{
    content: "";
    background-image: url(/musics/preview/mha.jpeg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;

}
ul.playlist#sao::before{ 
    content: "";
    background-image: url(/musics/preview/sao.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;

}
ul.playlist#sao{
    position:relative;
    content: "";
    color: rgb(4, 155, 255);
    height: inherit
}
ul.playlist#nanatsu::before{ 
    content: "";
    background-image: url(/musics/preview/nanatsu.jpeg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
}
    ul.playlist#nanatsu{
        position:relative;
        content: "";
        color: rgb(0, 0, 0);
        height: inherit
    }

ul.playlist#ass{
    position:relative;
    content: "";
    color: rgb(0, 0, 0);
    height: inherit
}
ul.playlist#ass::before{ 
    content: "";
    background-image: url(/musics/preview/Ansatsu\ Kyoushitsu\ Assassination\ Classroom\ 4.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;

}


/*
Manga
*/
video{
    margin:0;
    width: 40%;
}


  

  

  

  
  


  






