@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

header{
    position: fixed;
    height: 120px;
    z-index: 100;
    top: 0px;
    right: 0px;
    left: 0px;
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0px;
    background-color: #99b0ee;
    border: 0px solid ;
    width: 100%;
}



nav.menu ul li{
    position: relative;
    top: 0px;
    list-style: none;
    background-color: rgba(16, 204, 31, 0.329);
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
/*    margin-inline: 15px;*/
    font-family:"Poppinss", sans-serif;
    /*    border: darksalmon;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;*/
    color: white;

    
}

nav.menu ul{
    display: flex;
    max-height: 40px;
    padding: 0px;
    margin: 0px;
    
}
header div#ban{
    background-color: dodgerblue;
    height: 50px;
    width: 100%;

}
div.content{
    background-image: url(/img/Tour\ Eiffel.jpg);
}